@model Mapper


<form method="post">
    <div class="row pt-12" style="padding-bottom:10px; padding-top:10px;">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <label class="text-primary">Select Source Table</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownList("SrcTableName", new SelectList(Model.sourcetableSelectList, "Text", "Value"),"Select Source Table")

                    @*@Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.sourcetableSelectList, "Text", "Value"),"Select Source Table")
                        @Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.sourcetableSelectList),"Select Source Table",new { @class = "form-control", onchange = "document.location.href = '/Mapping/SourceTableddlChange?obj=' + m;" })*@

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <label class="text-primary">Select Destination Table</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownList("DesTableName", new SelectList(Model.desTinationTableSelectList, "Text", "Value"),"Select Source Table",new {@class = "form-control", onchange = "SelectedIndexChanged()" })

                    @* @Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.desTinationTableSelectList),"Select Destination Table",new {@class = "form-control", onchange = "document.location.href = '/Mapping/DestinationTableddlChange?obj=' + m;" })
                        @Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.desTinationTableSelectList),"Select Destination Table",new {@class = "form-control", onchange = "SelectedIndexChanged" })
                        @Html.DropDownListFor(m=>m.destinationTableName, new SelectList(Model.desTinationTableSelectList, "Text", "Value"),"Select Destination Table")*@

                </div>
            </div>
        </div>

    </div>

    @*    @{
        await Html.PartialAsync("_MapPartial", Model);
        }*@
    <div id="mypartial"> </div>

    <br />
    <br />
    <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>

</form>

<script>
             function SelectedIndexChanged() {
             //var selectedVal = document.getElementById("SrcTable").value;
             var a = document.getElementById("SrcTableName").value;
             var b = document.getElementById("DesTableName").value;
             //var selectedID = $(this).val();

                 console.log(model);
    var url = "@Url.Action("MapPartial","Mapping")";

     var model = { SrcTableName :document.getElementById("SrcTableName").value,
                   DesTableName:document.getElementById("DesTableName").value
                 };

     $.post(url, model, function(res){
        $("#mypartial").html(res);
     });

</script>