@model Mapper

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}
<form method="post">
    <div class="row pt-12" style="padding-bottom:10px; padding-top:10px;">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <label class="text-primary">Select Source Table</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.sourcetableSelectList, "Text", "Value"),"Select Source Table",new {@class="form-control"})
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <label class="text-primary">Select Destination Table</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(m=>m.destinationTableName, new SelectList(Model.desTinationTableSelectList, "Text", "Value"),"Select Source Table",new {@class = "form-control" })

                    @* @Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.desTinationTableSelectList),"Select Destination Table",new {@class = "form-control", onchange = "document.location.href = '/Mapping/DestinationTableddlChange?obj=' + m;" })
                        @Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.desTinationTableSelectList),"Select Destination Table",new {@class = "form-control", onchange = "SelectedIndexChanged" })
                        @Html.DropDownListFor(m=>m.destinationTableName, new SelectList(Model.desTinationTableSelectList, "Text", "Value"),"Select Destination Table")*@

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <label class="text-primary">Select Re Use Option</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(m=>m.reUseValue, new SelectList(Model.reUseConfiguration, "Text", "Value"),new {@class = "form-control", onchange = "SelectedIndexChanged()" })
                </div>
            </div>
        </div>
    </div>

    <div id="mypartial"> </div>



</form>

<script>
             function SelectedIndexChanged() {
                 console.log("Test");
             //var selectedVal = document.getElementById("SrcTable").value;
             var a = document.getElementById("sourceTableName").value;
             var b = document.getElementById("destinationTableName").value;
             console.log(a);
             console.log(b);
    var url = "@Url.Action("MapPartial","Mapping")";

     var model = { SrcTableName :document.getElementById("sourceTableName").value,
                   DesTableName:document.getElementById("destinationTableName").value,
                   ReUseValue:document.getElementById("reUseValue").value
                 };

     $.post(url, model, function(res){

        $("#mypartial").html(res);
     });
             }
</script>