@model Mapper

@if (TempData["message"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["message"].ToString().Substring(0,24)</strong>

        <div  class="m-4">
            <textarea style="width:100%" rows="10" class="form-control">@TempData["message"].ToString().Substring( 25 )</textarea>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="post" id="mapping-form">
    <div class="row pt-12" style="padding-bottom:10px; padding-top:10px;">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-5">
                    <label class="text-primary">Select Source Table</label>
                </div>
                <div class="col-md-7">
                    @Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.sourcetableSelectList, "Text", "Value"),"Select Source Table",new {@class="form-select",onchange="SourceSelectedIndexChanged()"})
                </div>
                <input type="hidden" id="HiddenSourceTableName" name="HiddenSourceTableName" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-10">
                    <label class="text-primary">List Only Used Columns</label>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" name="ListOnlyUsedColumns" id="ListOnlyUsedColumns" checked onchange="SelectedIndexChanged()" />
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-5">
                    <label class="text-primary">Select Destination Table</label>
                </div>
                <div class="col-md-7">
                    @Html.DropDownListFor(m=>m.destinationTableName, new SelectList(Model.desTinationTableSelectList, "Text", "Value"),"Select Source Table",new {@class = "form-select",@disabled="disabled" ,onchange = "SelectedIndexChanged()" })

                    @* @Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.desTinationTableSelectList),"Select Destination Table",new {@class = "form-control", onchange = "document.location.href = '/Mapping/DestinationTableddlChange?obj=' + m;" })
                    @Html.DropDownListFor(m=>m.sourceTableName, new SelectList(Model.desTinationTableSelectList),"Select Destination Table",new {@class = "form-control", onchange = "SelectedIndexChanged" })
                    @Html.DropDownListFor(m=>m.destinationTableName, new SelectList(Model.desTinationTableSelectList, "Text", "Value"),"Select Destination Table")*@

                </div>
            </div>
        </div>
        @*        <div class="col-md-6">
        <div class="row">
        <div class="col-md-4">
        <label class="text-primary">Select Re Use Option</label>
        </div>
        <div class="col-md-8">
        @Html.DropDownListFor(m=>m.reUseValue, new SelectList(Model.reUseConfiguration, "Text", "Value"),new {@class = "form-control", onchange = "SelectedIndexChanged()" })
        </div>
        </div>
        </div>*@
    </div>
    <div id="main-element" class="hidden">
        <strong> Sample of Data</strong>
        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="Show()">Show</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="Hide()">Hide</button>
        <div id="collapse-area" class="collapse">
            <div id="sample-data-source"> </div>
            <div id="sample-data-destination"> </div>
        </div>
    </div>
    <div id="loading" class="hidden">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="mypartial"> </div>



</form>

<script>
    function SourceSelectedIndexChanged() {
        var url = "@Url.Action("ShowSampleData","Mapping")";

        var model = {
            tableName: document.getElementById("sourceTableName").value,
        };
        $('#HiddenSourceTableName').val(model.tableName);
        $.post(url, model, function (res) {
            console.log(res);
            $("#sample-data-source").html(res);
        });
        $('#destinationTableName').prop('disabled', false).focus();

        $('#sourceTableName').prop('disabled', true);
        $('#main-element').removeClass("hidden");


    }
    function SelectedIndexChanged() {

        var url = "@Url.Action("ShowSampleData","Mapping")";

        var model = {
            tableName: document.getElementById("destinationTableName").value
        };
        if (model.tableName == undefined || model.tableName == "") {
            return;
        }
        $('#loading').removeClass('hidden');
        $.post(url, model, function (res) {
            console.log(res);
            $("#sample-data-destination").html(res);
        });


        var url = "@Url.Action("MapPartial","Mapping")";
        var listOnlyUsed = $('#ListOnlyUsedColumns').prop('checked');
        var model = {
            SrcTableName: document.getElementById("sourceTableName").value,
            DesTableName: document.getElementById("destinationTableName").value,
            listOnlyUsedColumns: listOnlyUsed
        };

        $.post(url, model, function (res) {

            $("#mypartial").html(res);
            $('#loading').addClass('hidden');
        });
    }
    function Hide() {
        $('#collapse-area').addClass('collapse');
    }
    function Show() {
        $("#collapse-area").removeClass("collapse")
    }
    function SourceFieldNameChanged(id) {
        var model = {
            SrcTableName: document.getElementById("sourceTableName").value,
            DesTableName: document.getElementById("destinationTableName").value
        };

        //$('#ReloadPartial').val('yes');


        //$("#mapping-form").submit();
        //$('#ReloadPartial').val('no');

        //var delayInMilliseconds = 9000; //1 second
        //setTimeout(function () {
        //    var url = "@Url.Action("MapPartial","Mapping")";
        //    $.post(url, model, function (res) {
        //        $("#mypartial").html(res);
        //        $('#loading').addClass('hidden');
        //    });
        //}, delayInMilliseconds);


        var url = "@Url.Action("ValidateColumns","Mapping")";

        var model = {
            sourceTablename: document.getElementById("sourceTableName").value,
            destinationTablename: document.getElementById("destinationTableName").value,
            sourceField: document.getElementById("SourceId" + id).value,
            destinationField: document.getElementById("DestinationId" + id).value,
            id: id
        };

        $.post(url, model, function (res) {

            $("#status" + id).html(res);
        });

    }
</script>