@model Mapper
@{
    var i = 0;
}

@*    <label>Model.sourceTablename</label>
*@
@*@for (i = 0; i < Model.mapTables.Count; i++)
{


    <div class="row pt-12" style="border:dashed;padding-top:10px;">
        <div class="row pt-6">
            <div class="col-4">
                <h2 class="text-primary">Source Column</h2>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.mapTables[i].sourceColumn, new SelectList(Model.sourceSelectList, "Text", "Value"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row pt-6">
            <div class="col-4">
                <h2 class="text-primary">Destination Column</h2>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.mapTables[i].targetColumn, new SelectList(Model.desTinationSelectList, "Text", "Value"), new { @class = "form-control" })
            </div>
        </div>
    </div>
}*@

<div class="row pt-12" style="border:none;padding-top:10px;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-primary text-center">Source Table</th>
                <th class="text-primary text-center">Destination Table</th>
            </tr>
        </thead>
        <tbody>
            @for (i = 0; i < Model.mapTables.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DropDownListFor(m => m.mapTables[i].sourceColumn, new SelectList(Model.sourceSelectList, "Text", "Value"), new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.mapTables[i].targetColumn, new SelectList(Model.desTinationSelectList, "Text", "Value"), new { @class = "form-control" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<br />
<br />
@if (Model.mapTables.Count == 0)
{
    <h2 class="text-warning"><b>Configuration data not found. Please select Re Use option "NO" to insert data first.</b></h2>
}
@if (Model.mapTables.Count > 0)
{
    <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
}
@if (Model.mapTables.Count > 0)
{
    <button type="reset" class="btn btn-warning" style="width:150px;" onclick="location.href='@Url.Action("Reset", "Mapping")'"> Reset </button>
    //<button type="reset" class="btn btn-warning" style="width:150px;" >Reset</button>
}